.slider{background-image: url(../../images/banner.png);background-repeat:no-repeat;background-size:cover;height: 100%;width: 100%;max-height: 950px;position: absolute}
.slider .main-tagline{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.slider .sub-tagline{position:absolute; top:70%; left:70%; transform:translate(-70%,-70%);}