<div class="banner-slider" style=" width: 100%; height:900px;">
  <div class="slider">
   
  </div>
</div> 
<div class="intro-content">
  <div class="container-fluid">
      <p>We strategize and put in a methodical approach to engaging the correct talent, energetic & passionate. We are constantly building our teams to rope in individuals with high standards of work ethics and self-discipline. We capture the innovative streaks of individuals to make them a part of our disruptive thinkers, our teams thinking out of the box reflecting our own ideologies.</p>
  </div>
</div>